body {
    /*background: #c7c8c9;*/
}

.names {
    margin-bottom:0.1em ;
}

.feed-meta {
    font-size: 0.75em;
}

.bd-sidebar {
    border-right: 1px solid rgba(0, 0, 0, .1);
}

.bd-content {
    margin-top: 10%;
}

.sign-in-form {
    padding: 10px;
    /*border: 1px solid #b8c0b5;*/
    background: #ecedee;
}
#body{
    margin-top: 70px;
}
/*.bg-dark{*/
    /*background-color: black!important;*/
    /*color: white!important;*/
/*}*/